.book-list-items {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  height: 220px;
  width: 100%;
  margin-bottom: 5%;
  margin-left: 0px;
  box-sizing: border-box;
}
.link-items {
  text-decoration: none;
}
.img-container {
  display: flex;
  /* min-width: 30%; */
  box-sizing: border-box;
}
.book-image {
  /* min-width: 250px; */
  height: 190px;
  min-width: 160px;
  border-radius: 8px;
}

.book-list-sub-container {
  min-width: 50%;
  padding-left: 5%;
  box-sizing: border-box;
  /* width: 70%; */
}
.book-title {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #334155;
  margin: 0px;
  margin-left: 0px;
  padding-bottom: 8%;
}
.author-name {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0px;
  padding-bottom: 8%;
  color: #334155;
}
.avg-rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  padding-bottom: 8%;
  /* width: 200px; */
  box-sizing: border-box;
}
.avg-rating-title {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  color: #475569;
  margin: 0px;
  padding-right: 4%;
}
.star-icon {
  width: 20px;
  height: 20px;
  color: #fbbf24;
  margin: 0px;
  padding-right: 4%;
}
.rating {
  font-family: 'HK Grotesk';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #334155;
  margin: 0px;
}
.reading-status {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #475569;
  margin: 0px;
}
.span {
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #0284c7;
  margin: 0px;
}
